<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Newsmonger</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'layout' %>
</head>
<body>
  <div id="site" class="container_12">
    <div id="header" class="grid_12 alpha omega">
      <h1 class="grid_2 alpha"><a href="<%= root_url %>">Newsmonger</a></h1>
        <div class="grid_4 omega">
          <a href="<%= signin_url %>">Signin</a>
        </div>
    </div>
    <div class="clear"></div>
    <%= yield %>
</div>
</body>
</html>
